@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

body {
  background-image: url("assets/images/pattern-background-mobile-dark.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  overflow-x: hidden;
}

.title-screen {
  transition: transform 1s linear;

  &.quiz-active {
    transform: translateX(-300%);
  }
}

.quiz-screen {
  transition:
    transform 1s linear,
    opacity 1s ease-out;
  transform: translateX(300%);

  &.quiz-active {
    transform: translateX(0);
  }
}

.custom-switcher {
  .slider {
    background-color: silver;
    transition: 0.4s;
    border-radius: 30px;

    /* Inner Circle */
    &::before {
      position: absolute;
      content: "";
      width: 19px;
      aspect-ratio: 1;
      left: 4px;
      bottom: 4px;
      background-color: azure;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: rgb(96, 3, 255);
  }

  input:checked + .slider:before {
    transform: translateX(19px);
  }
}

.fade-in {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.fade-out {
  opacity: 0;
}
