@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

.custom-switcher {
  input:checked + .slider {
    background-color: rgb(96, 3, 255);
  }

  input:checked + .slider:before {
    transform: translateX(19px);
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: silver;
    transition: 0.4s;
    border-radius: 30px;

    /* Inner Circle */
    &::before {
      position: absolute;
      content: "";
      width: 23px;
      aspect-ratio: 1;
      left: 4px;
      bottom: 4px;
      background-color: azure;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}

.fade-in {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.fade-out {
  opacity: 0;
}
